.card-box {
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

h1 {
    margin-top: 35px;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Poppins', sans-serif;
}

h5 {
    font-family: 'Poppins', sans-serif;
}

.accordionBody{
    font-family: 'Lato', sans-serif;
}

#introduction {
    font-size: 1.1em;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

