body{
    background-color: #ffffff;
  }
  
  #search-bar {
    height: 46px;
    border-radius: 48px;
    border: 0.5px solid rgb(157, 157, 157);
    width: 100%;
    padding-right: 40px;
    padding-left: 10px;
}

#search-btn {
    font-size: 1.1em;
    position: absolute;
    height: 46px;
    width: 46px;
    border-radius: 48px;
    border: none;
    background-color: #ffb600;
    margin-left: 5px;
    transition-duration: 0.4s;
} 

#search-btn:hover {
    background-color: #ffb600;
    color: #ffffff;
}

#landingpage {
    margin-top: 100px;
}