body {
  background-color: #ffffff;
}

#search-bar {
  height: 46px;
  border-radius: 48px;
  border: 0.5px solid rgb(157, 157, 157);
  width: 100%;
  padding-right: 40px;
  padding-left: 10px;
}

#search-btn {
  font-size: 1.1em;
  position: absolute;
  height: 46px;
  width: 46px;
  border-radius: 48px;
  border: none;
  background-color: #ffb600;
  margin-left: 5px;
  transition-duration: 0.4s;
}

#search-btn:hover {
  background-color: #ffb600;
  color: #ffffff;
}

#landingpage {
  margin-top: 100px;
}

#Shoe-cards {
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 72%, 0.141);
}
#title {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

#information {
    font-size: 1em;
}

#subtitle{
  text-decoration: underline;
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

#contents {
  font-family: 'Lato', sans-serif;
}

#details {
  font-family: 'Lato', sans-serif;
}